<script src="editPersona.js"></script>

<div class="navbar navbar-inverse">
   <div class="navbar-inner">
     <a class="navbar-brand" href="/">Home</a>
   </div>
 </div>
 <div class="container">

<table id="myTable" class="table"> </table>
<div hidden id="tName">{{tName}}</div>

<fieldset>
<legend> Edit an entry :</legend>
<form>
<div class="form-group">
<label> Name:
<input type= "text" id="name" value={{name}}> </input>
</label>
</div>

<div class="form-group">
<label> Level:
<input type= "number" id="lvl" value={{lvl}}> </input>
</label>
</div>

<div class="form-group">
<label for= "aid"> Arcana:</label>
<select class="form-control-inline" id="aid" value={{aid}}>
</select>
</div>

<input type= "hidden" id="id" value={{id}}></input>

<input type= "submit" onclick="updateEntry()"></input>

</form>
</fieldset>
</div>
